.main-content {
    // width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F5FA;
    padding-bottom: 48px;
}

@media (max-width: 768px) {
    .main-content {
        padding-bottom: 40px;
    }
}

.title {
    width: 752px;
    color: #28272B;
    text-align: center;
    font-family: Unbounded;
    font-size: 54px;
    font-weight: 500;
    line-height: 135%;

    &-app {
        width: 899px;
    }
}

@media (max-width: 768px) {
    .title {
        width: 288px;
        font-size: 20px;
        text-align: start;
    }
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: 50px;
    // overflow-x: auto; /* Позволяет прокручивать элементы по горизонтали */
    // scroll-snap-type: x mandatory; /* Включает "snap" для плавной прокрутки */
   
    &-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // flex: 0 0 auto; /* Позволяет элементам занимать фиксированную ширину */
        // width: 300px; /* Установите ширину элементов карусели */
        // scroll-snap-align: start; /* Позволяет элементам "прилипать" к началу при прокрутке */
    }

    &-text {
        width: 268px;
        color: #28272B;
        font-family: Unbounded;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;

        &-two {
            width: 288px;
        }

        &-functions {
            height: 66px;
        }
    }

    &-img {
        width: 277px;
        height: 555px;
        flex-shrink: 0;
    }

    &-two-iphon {
        width: 436px;
        height: 555px;
    }
}


// @media (min-width: 769px) {
//     .carousel {
//         display: block; /* Вернуть к блочному отображению на больших экранах */
//     }
// }